.wraper{
  background-color: #FFFCF5;
}
.header {
  padding: 15px 0;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  background-color: $white-color;
  top: 0;
  &-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
  &-auth{
    display:flex;
    align-items: center;
    gap: 0 28px;
    text-transform: capitalize;
}
  &-singin{
    color: #212832;
    text-align: center;
    font-weight: 600;
}
}
.menu {
  list-style: none;
  display:flex;
  align-items: center;
  gap: 0 42px;
  &-item{
    list-style-type: none;
    text-align: center;
}
  &-link{
    color: #6A6E78;
  }
  &-toggle{
    display: none;
    width: 30px;
    height: 20px;
    span{
      pointer-events: none;
      width: 100%;
      height: 3px;
      background-color: #212832;
      display: inline-block;
    }
  }
}
.button{
  font-size: 16px;
  line-height: calc(28 / 16);
}

@media screen and (max-width: 374.98px) {
  .menu{
    display: none;
  }
}
@media screen and (max-width: 1023.98px) {
  .menu{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white-color;
    width: 70%;
    z-index: 99;
    border-left: 1px solid $primary-color;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 50px;
    align-items: center;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
    &.is-show{
      transform: translateX(0);
    }
    &-link{
      display: block;
      width: 100%;
      padding: 20px;
      font-size: 20px;
    }
    &-toggle{
      display: inline-flex;
      justify-content: space-between;
      flex-direction: column;
    }
    &-item{
      &--auth{
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 0 30px;
        justify-content: space-between;
      }
    }
  }
  .header{
    &-auth{
      display: none;
    }
  }
}
@media screen and (min-width: 1024px) {
  .menu-item--auth{
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-link{
    font-size: 15px;
  }
}

// @media screen and (max-width: 1280px) {
//   .menu{
//     display: none;
//   }
// }

